{% extends 'main/base.html' %}

{% block content %}

    <style>
        .home-container {
            display: grid;
            grid-template-columns: 1fr 3fr;
        }
    </style>

    <h1>Index Page</h1>

    <div class="home-container">
        <div>
            <h3>Últimas notas agregadas</h3>
            <hr>
            {% for item in ls %}
                <div>
                    <span>{{item.ID_Student}}</span>
                    <span>{{item.ID_Course}}</span>
                    <a href="{% url 'update-exam' item.id %}"><span>{{item.Score}}</span></a>
                    <a href="{% url 'delete-exam' item.id %}"><span>Eliminar examen</span></a>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}